<div class="bg-light p-3 mb-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active">Categorias</li>
        </ol>
    </nav>
</div>

<div class="row mb-4">
    <div class="col-md">
        <h1 class="h2 border-left">Categorias</h1>
    </div>
    <div class="col-md">
        <a routerLink="new" class="btn btn-success float-end">+ Nova Categoria</a>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr class="bg-primary text-light">
            <th>Categoria</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of categories">
            <td>
                <strong>{{ category.name }}</strong><br>
                <small>{{ category.description }}</small>
            </td>
            <td>
                <a class="btn btn-outline-info btn-sm" [routerLink]="[category.id, 'edit']">Editar</a>
                <button (click)="deleteCategory(category)" class="btn btn-outline-danger btn-sm ms-2">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>